.inputFlexBox {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.wrapper {
  .inputGridBox {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 10px;
  }
  .insideStepBtn {
    height: 100%;
    font-size: 11px;
  }

  .finalStepBtnBlock {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
}
